body {
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
}

table, td {
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        width: 1200px;
        margin: 20px auto;
        height: 73px;
}

td:last-child{
        width: 13%;
}

thead {
        background-color: #297bb2;
        color: #fff;
}

tbody tr:first-child {
        font-weight: bold;
        background-color: #acd5f0;
}

.btn-add {
        background-color: #297bb2;
        border: none;
        color: rgb(255, 255, 255);
        width: 230px;
        height: 30px;
        font-size: 20px;
        border-radius: 4px;
}

.btn-add:hover {
        background-color: #1a4f72;
        cursor: pointer;
}

.window {
        font-size: 18px;
        width: 400px;
        background-color: #ededed;
        padding: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        box-shadow: 5px 10px 55px #000000;
        text-align: left;
}

.window input {
        width: 100%;
}

.btn-dialog {
        background-color: #297bb2;
        border: none;
        color: rgb(255, 255, 255);
        height: 30px;
        font-size: 20px;
        border-radius: 4px;
        margin-top: 20px;
        padding: 0 20px 0 20px;
}

#dialog-btns-add {
        display: flex;
        justify-content: space-evenly;
}

#dialog-btns-change {
        display: flex;
        justify-content: space-evenly;
}

.btn-dialog:hover {
        background-color: #1a4f72;
        cursor: pointer;
}

.gender-input-wrapper {
        margin: 10px 0 10px 0;
}

.gender-input-wrapper label {
        margin: 5px;
        font-weight: inherit;
}

.btn-close {
        position: absolute;
        right: 3%;
        bottom: 89%;
}

.btn-close img {
        width: 30px;
        height: 30px;
        background-color: rgb(149, 38, 38);
        left: 0;
}

.btn-close img:hover {
        cursor: pointer;
        background-color: rgb(117, 27, 27);
}


.change-btn {
        width: 50px;
        height: 50px;
        content: url('change_icon.png');
        display: none;
}

.change-btn:hover {
        cursor: pointer;
}

.delete-btn {
        width: 50px;
        height: 50px;
        content: url('cross.png');
        background-color: #751b1be8;
        margin-left: 10px;
        margin-top: 10px;
        display: none;
}

.delete-btn:hover {
        cursor: pointer;
}